.navNew{
  background-color: red;
  padding:  10px 20px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  
}

#Footer{
  font-size: 12px;
 position:fixed;
  text-align: center;
  color: white;
  background-color: red;
  left: 0;
  bottom: 0;
  width: 100%;
}
.logo {
  height: 6em;
  color:blue;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
