.navbar {
  display: flex;
  justify-content: space-between;
  background-color: red;
  color: #fff;
  padding: 1rem;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

#Footer{
  font-size: 12px;
 position:fixed;
  text-align: center;
  color: white;
  background-color: red;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-center .nav-links li {
  margin-right: 2rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
